# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

poetry
pytest
pytest-cov
requests
flake8
black
isort
bandit
httpx
pyproject-flake8
