# SPDX-FileCopyrightText: 2023 PeriHub <https://gitlab.com/dlr-perihub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

fastapi
uvicorn[standard]
matplotlib
scipy
numpy
pandas
paramiko
aiofiles
python-multipart
pyjwt
requests
zipfile2
python-dotenv
scikit-learn
netCDF4
magicattr
asyncio
rich
exodusreader
gcodereader
