# SPDX-FileCopyrightText: 2023 PeriHub <https://github.com/PeriHub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

fastapi[standard]
scipy
numpy
paramiko
aiofiles
python-multipart
pyjwt
requests
zipfile2
python-dotenv
asyncio
rich
exodusreader
random-username
# pygalmesh
python-magic
python-slugify
