# SPDX-FileCopyrightText: 2023 PeriHub <https://github.com/PeriHub/PeriHub>
#
# SPDX-License-Identifier: Apache-2.0

fastapi[standard]
matplotlib
scipy
numpy
python-multipart
pyjwt
requests
python-dotenv
rich
exodusreader
random-username
# pygalmesh
python-magic
python-slugify
pandas
toml
magicattr
pyyaml
natsort
sqlalchemy
alembic
psycopg[binary]
passlib
argon2_cffi
