<v-container fluid style="height: 100%">
  <splitpanes @resize="resize" style="height: 100%">
    <pane min-size="15" style="height: 100%">
      <v-subheader>
        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn class="my-btn" v-bind="attrs" v-on="on" @click="uploadBib">
              <i class="fas fa-upload"></i>
            </v-btn>
          </template>
          <span>Load Bib</span>
        </v-tooltip>
        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn class="my-btn" v-bind="attrs" v-on="on" @click="uploadPdfs">
              <i class="fas fa-upload"></i>
            </v-btn>
          </template>
          <span>Load Pdfs</span>
        </v-tooltip>
        <input
          type="file"
          style="display: none"
          ref="fileInput"
          accept="application/json,text/x-bibtex"
          @change="onFilePicked"
        />
        <input
          type="file"
          style="display: none"
          ref="multifileInput"
          multiple
          accept=".pdf"
          @change="onMultiFilePicked"
        />
        <input
          type="file"
          style="display: none"
          ref="multiSoInput"
          multiple
          accept=".so"
          @change="onMultiFilePicked"
        />

        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn class="my-btn" v-bind="attrs" v-on="on" @click="saveData">
              <i class="fas fa-save"></i>
            </v-btn>
          </template>
          <span>Save as JSON</span>
        </v-tooltip>

        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn class="my-btn" v-bind="attrs" v-on="on" @click="resetData">
              <i class="fas fa-undo"></i>
            </v-btn>
          </template>
          <span>Reset Data</span>
        </v-tooltip>

        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn
              class="my-btn"
              v-bind="attrs"
              v-on="on"
              @click="generateDatabase"
              :disabled="!status.bibFileExist"
            >
              <i class="fas fa-cogs"></i>
            </v-btn>
          </template>
          <span>Generate Database</span>
        </v-tooltip>

        <v-spacer></v-spacer>

        <v-tooltip bottom
          ><template v-slot:activator="{ on, attrs }">
            <v-btn
              class="my-btn"
              v-bind="attrs"
              v-on="on"
              @click="openHidePanels"
            >
              <i class="fas fa-sort"></i>
            </v-btn>
          </template>
          <span>Collapse/Expand all panels</span>
        </v-tooltip>
      </v-subheader>
      <!-- <v-virtual-scroll
                :items="Array.from({model.length: 9}).map((_, index) => index)"
                :item-height="50"
                height=100vh
              > -->
      <!-- <div class="remaining-height"> -->
      <v-list class="remaining-height">
        <!-- <v-list-item-group> -->
        <!-- <v-list-item> -->
        <v-card>
          <v-expansion-panels height="45vh" v-model="panel2" multiple>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <h2>Model</h2>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-text-field
                  class="textfield-col"
                  v-model="analysisModel.fileName"
                  :rules="[rules.required]"
                  label="File Name"
                  outlined
                ></v-text-field>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-divider></v-divider>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <h2>Keyword List</h2>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-list
                  v-for="keyword, index in keywordList"
                  :key="keyword.id"
                  style="padding: 0px"
                >
                  <v-container
                    v-bind:style="(keyword.id % 2 == 0) ? 'background-color: rgba(190, 190, 190, 0.1);' : 'background-color: rgba(255, 255, 255, 0.0);'"
                  >
                    <h4>Keyword {{keyword.id}}</h4>
                    <v-row>
                      <v-col class="textfieldlist-col">
                        <v-text-field
                          v-model="keyword.name"
                          :rules="[rules.required, rules.name]"
                          label="Keyword name"
                          outlined
                        ></v-text-field>
                      </v-col>
                      <v-col class="textfieldlist-col">
                        <v-tooltip bottom
                          ><template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="my-btn"
                              v-bind="attrs"
                              v-on="on"
                              @click="removeKeyword(index)"
                            >
                              <i class="fas fa-trash-alt"></i>
                            </v-btn>
                          </template>
                          <span>Remove Keyword</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                    <v-list
                      v-for="key, subindex in keyword.keywords"
                      :key="keyword.keywords.id"
                      v-bind:style="(keyword.id % 2 == 0) ? 'background-color: rgba(190, 190, 190, 0.0);' : 'background-color: rgba(255, 255, 255, 0.0);'"
                    >
                      <v-row>
                        <v-col class="textfieldlist-col">
                          <v-text-field
                            v-model="keyword.keywords[subindex]"
                            :rules="[rules.required, rules.regex]"
                            label="Key"
                            outlined
                          ></v-text-field>
                        </v-col>
                        <v-col class="textfieldlist-col">
                          <v-tooltip bottom
                            ><template v-slot:activator="{ on, attrs }">
                              <v-btn
                                class="my-btn"
                                v-bind="attrs"
                                v-on="on"
                                @click="removeKey(index, subindex)"
                              >
                                <i class="fas fa-trash-alt"></i>
                              </v-btn>
                            </template>
                            <span>Remove Key</span>
                          </v-tooltip>
                        </v-col>
                      </v-row>
                    </v-list>
                    <v-row>
                      <v-col class="textfieldlist-col">
                        <v-tooltip bottom
                          ><template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="my-btn"
                              v-bind="attrs"
                              v-on="on"
                              @click="addKey(index)"
                            >
                              <i class="fas fa-plus"></i>
                            </v-btn>
                          </template>
                          <span>Add Key</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                    <!-- <template v-else> -->
                    <v-row>
                      <v-col class="textfieldlist-col">
                        <v-text-field
                          class="textfield-col"
                          v-model="keyword.weight"
                          :rules="[rules.required, rules.int]"
                          label="Weight"
                          outlined
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                  <!-- <v-divider></v-divider> -->
                </v-list>
                <v-tooltip bottom
                  ><template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="my-btn"
                      v-bind="attrs"
                      v-on="on"
                      @click="addKeyword"
                    >
                      <i class="fas fa-plus"></i>
                    </v-btn>
                  </template>
                  <span>Add Keyword</span>
                </v-tooltip>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <h2>Bar Plot</h2>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-slider
                  v-model="barPlot.minBarSizeFilter"
                  label="Min bar size filter:"
                  :max="maxBarSize"
                  min="1"
                  step="1"
                  @change="filterPlot"
                ></v-slider>
                <v-slider
                  v-model="barPlot.maxBarSizeFilter"
                  label="Max bar size filter:"
                  :max="maxBarSize"
                  min="1"
                  step="1"
                  @change="filterPlot"
                ></v-slider>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-expansion-panel>
              <v-expansion-panel-header>
                <h2>Network</h2>
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-slider
                  v-model="network.force"
                  label="Force:"
                  max="5000"
                  min="0"
                  step="1"
                ></v-slider>
                <v-switch
                  class="checkbox-col"
                  v-model="network.fMb"
                  label="ManyBody"
                ></v-switch>
                <v-switch
                  class="checkbox-col"
                  v-model="network.fL"
                  label="Link"
                ></v-switch>
                <v-switch
                  class="checkbox-col"
                  v-model="network.fC"
                  label="Center"
                ></v-switch>
                <v-slider
                  v-model="network.fX"
                  label="X Force:"
                  max="1"
                  min="0"
                  step="0.1"
                ></v-slider>
                <v-slider
                  v-model="network.fY"
                  label="Y Force:"
                  max="1"
                  min="0"
                  step="0.1"
                ></v-slider>
                <v-slider
                  v-model="network.offsetX"
                  label="X Offset:"
                  max="1000"
                  min="-1000"
                  step="1"
                ></v-slider>
                <v-slider
                  v-model="network.offsetY"
                  label="Y Offset:"
                  max="1000"
                  min="-1000"
                  step="1"
                ></v-slider>
                <v-switch
                  class="checkbox-col"
                  v-model="network.nodeLabels"
                  label="Show node names"
                ></v-switch>
                <v-switch
                  class="checkbox-col"
                  v-model="network.linkLabels"
                  label="Show link names"
                ></v-switch>
                <v-switch
                  class="checkbox-col"
                  v-model="network.strLinks"
                  label="Straight Links"
                ></v-switch>
                <v-slider
                  v-model="network.nodeSize"
                  label="Node size:"
                  max="30"
                  min="1"
                  step="0.1"
                  @change="changeNodeSize"
                ></v-slider>
                <v-slider
                  v-model="network.journalNodeSize"
                  label="Journal Node size:"
                  max="50"
                  min="0"
                  step="1"
                ></v-slider>
                <v-slider
                  v-model="network.fontSize"
                  label="Font size:"
                  max="20"
                  min="0.1"
                  step="0.1"
                ></v-slider>
                <v-slider
                  v-model="network.linkWidth"
                  label="Link width:"
                  max="10"
                  min="1"
                  step="1"
                ></v-slider>
                <v-slider
                  v-model="network.minNodeSizeFilter"
                  label="Min node size filter:"
                  :max="maxNodeSize"
                  min="1"
                  step="1"
                  @change="filterNodes"
                ></v-slider>
                <v-slider
                  v-model="network.maxNodeSizeFilter"
                  label="Max node size filter:"
                  :max="maxNodeSize"
                  min="1"
                  step="1"
                  @change="filterNodes"
                ></v-slider>
                <v-list
                  v-if="showSelection"
                  v-for="node in selected"
                  :key="selected.id"
                  style="padding: 0px"
                >
                  <v-row>
                    <v-col class="textfieldlist-col">
                      <v-tooltip bottom
                        ><template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="my-btn"
                            v-bind="attrs"
                            v-on="on"
                            @click="writeBibFile"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </v-btn>
                        </template>
                        <span>Get bibfile</span>
                      </v-tooltip>
                    </v-col>
                    <!-- <v-col class="textfieldlist-col" cols="12" sm="2">
                      <v-tooltip bottom
                        ><template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="my-btn"
                            v-bind="attrs"
                            v-on="on"
                            @click="unSelectNode(node.id)"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </v-btn>
                        </template>
                        <span>Unselect</span>
                      </v-tooltip>
                    </v-col> -->
                  </v-row>
                  <v-row>
                    <v-col class="textfieldlist-col" cols="12" sm="10">
                      {{ node.id }}
                    </v-col>
                    <!-- <v-col class="textfieldlist-col"> {{ node.name }} </v-col>
                    <v-col class="textfieldlist-col">
                      <v-tooltip bottom
                        ><template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="my-btn"
                            v-bind="attrs"
                            v-on="on"
                            @click="getName(node.id)"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </v-btn>
                        </template>
                        <span>Get Name</span>
                      </v-tooltip>
                    </v-col> -->
                    <v-col class="textfieldlist-col" cols="12" sm="2">
                      <v-tooltip bottom
                        ><template v-slot:activator="{ on, attrs }">
                          <v-btn
                            class="my-btn"
                            v-bind="attrs"
                            v-on="on"
                            @click="unSelectNode(node.id)"
                          >
                            <i class="fas fa-trash-alt"></i>
                          </v-btn>
                        </template>
                        <span>Unselect</span>
                      </v-tooltip>
                    </v-col>
                  </v-row>
                  <v-list
                    v-for="doi in node.dois"
                    :key="node.dois.id"
                    style="padding: 0px"
                  >
                    <v-row>
                      <v-col class="textfieldlist-col" cols="12" sm="10">
                        {{ getEntryByDoi(doi)}}
                      </v-col>
                      <v-col class="textfieldlist-col" cols="12" sm="2">
                        <v-tooltip bottom
                          ><template v-slot:activator="{ on, attrs }">
                            <v-btn
                              class="my-btn"
                              v-bind="attrs"
                              v-on="on"
                              @click="openDoi(doi)"
                            >
                              <i class="fas fa-external-link-alt"></i>
                            </v-btn>
                          </template>
                          <span>Open article</span>
                        </v-tooltip>
                      </v-col>
                    </v-row>
                  </v-list>
                </v-list>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card>
        <!-- </v-list-item> -->
        <!-- </v-list-item-group> -->
      </v-list>
      <!-- </div> -->
    </pane>
    <pane min-size="40" style="height: 100%">
      <v-tabs color="deep-purple accent-4" v-model="tab" left>
        <v-tab>Plotly</v-tab>
        <v-tab>d3-Network</v-tab>
        <v-tab>Summary</v-tab>
        <v-tab>Words</v-tab>
        <v-tab>Journals</v-tab>
        <v-tab-item>
          <v-subheader>
            <v-tooltip bottom
              ><template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="my-btn"
                  v-bind="attrs"
                  v-on="on"
                  @click="dialogGetPlot = true"
                  :disabled="!status.dumpExist"
                >
                  <i class="fas fa-chart-line"></i>
                </v-btn>
              </template>
              <span>Show Plot</span>
            </v-tooltip>

            <v-dialog v-model="dialogGetPlot" persistent max-width="400">
              <v-card>
                <v-card-title class="text-h5"> Show Plot </v-card-title>
                <v-card-text
                  >Which variable do you want to use for the
                  x-axis?</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="getBarChart('journal')"
                  >
                    Journal
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="getBarChart('year')"
                  >
                    Year
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="getBarChart('author')"
                  >
                    Authors
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="dialogGetPlot = false"
                  >
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-tooltip bottom
              ><template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="my-btn"
                  v-bind="attrs"
                  v-on="on"
                  @click="downloadPlot"
                  :disabled="!status.dumpExist"
                >
                  <i class="fas fa-download"></i>
                </v-btn>
              </template>
              <span>Download Plot</span>
            </v-tooltip>

            <v-spacer />

            <v-tooltip bottom
              ><template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="my-btn"
                  v-bind="attrs"
                  v-on="on"
                  @click="dialogDeleteData = true"
                >
                  <i class="fas fa-trash"></i>
                </v-btn>
              </template>
              <span>Delete Data</span>
            </v-tooltip>

            <v-dialog v-model="dialogDeleteData" persistent max-width="500">
              <v-card>
                <v-card-title class="text-h5"> Delete Data </v-card-title>
                <v-card-text
                  >Do you want to delete the selected Files, all Cookies or all
                  User data?</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialogDeleteData = false, dialogDeleteFiles = true"
                  >
                    Files
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialogDeleteData = false, dialogDeleteCookies = true"
                  >
                    Cookies
                  </v-btn>
                  <v-btn
                    color="green darken-1"
                    text
                    @click="dialogDeleteData = false, dialogDeleteUserData = true"
                  >
                    User data
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="dialogDeleteData = false"
                  >
                    Cancel
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogDeleteFiles" persistent max-width="400">
              <v-card>
                <v-card-title class="text-h5"> Delete Files </v-card-title>
                <v-card-text
                  >Are you sure, you want to delete the Files?</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" text @click="deleteFiles">
                    Yes
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="dialogDeleteFiles = false"
                  >
                    No
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!-- <v-tooltip bottom><template v-slot:activator="{ on, attrs }">
              <v-btn class="my-btn" v-bind="attrs" v-on="on" @click="dialogDeleteUserData = true">
                  <i class="fas fa-times"></i>
              </v-btn>
            </template>
              <span>Delete User Data</span>
            </v-tooltip> -->

            <v-dialog v-model="dialogDeleteCookies" persistent max-width="400">
              <v-card>
                <v-card-title class="text-h5"> Delete User Data </v-card-title>
                <v-card-text
                  >Are you sure, you want to delete all Cookies?</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" text @click="deleteCookies">
                    Yes
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="dialogDeleteCookies = false"
                  >
                    No
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <v-dialog v-model="dialogDeleteUserData" persistent max-width="400">
              <v-card>
                <v-card-title class="text-h5"> Delete User Data </v-card-title>
                <v-card-text
                  >Are you sure, you want to delete the User Data?</v-card-text
                >
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="green darken-1" text @click="deleteUserData">
                    Yes
                  </v-btn>
                  <v-btn
                    color="red darken-1"
                    text
                    @click="dialogDeleteUserData = false"
                  >
                    No
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-subheader>
          <v-card
            class="my-card"
            title="PloView"
            elevation="0"
            height="100%"
            width="100%"
            margin="10px"
            :loading="plotLoading"
            color="#2D2D2D"
            ref="plotView"
          >
            <v-card-title class="my-title" style="padding-top: 0px">
            </v-card-title>
            <template slot="progress">
              <v-progress-linear
                color="deep-purple"
                height="10"
                indeterminate
              ></v-progress-linear>
            </template>
            <Plotly
              :data="filteredPlotData"
              :layout="plotLayout"
              :options="plotOptions"
              :display-mode-bar="true"
            >
            </Plotly>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <div class="tab-item-wrapper">
            <v-subheader>
              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="dialogGetConnections = true"
                    :disabled="!status.dumpExist"
                  >
                    <i class="fas fa-play"></i>
                  </v-btn>
                </template>
                <span>Get connections</span>
              </v-tooltip>

              <v-dialog
                v-model="dialogGetConnections"
                persistent
                max-width="500"
              >
                <v-card>
                  <v-card-title class="text-h5">
                    Show Connections
                  </v-card-title>
                  <v-card-text
                    >Which variable do you want to use for the
                    x-axis?</v-card-text
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="green darken-1"
                      text
                      @click="getConnections('journal')"
                    >
                      Journal
                    </v-btn>
                    <v-btn
                      color="green darken-1"
                      text
                      @click="getConnections('keywords', 'Title')"
                    >
                      Keys / Title
                    </v-btn>
                    <v-btn
                      color="green darken-1"
                      text
                      @click="getConnections('keywords', 'Text')"
                    >
                      Keys / Full text
                    </v-btn>
                    <v-btn
                      color="red darken-1"
                      text
                      @click="dialogGetConnections = false"
                    >
                      Cancel
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

              <v-spacer />

              <v-tooltip bottom class="my-btn"
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="pinned = !pinned"
                  >
                    <i v-if="pinned" class="fas fa-mouse-pointer"></i>
                    <i v-if="!pinned" class="fas fa-thumbtack"></i>
                  </v-btn>
                </template>
                <span v-if="pinned">Select</span>
                <span v-if="!pinned">Pin / Unpin</span>
              </v-tooltip>

              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="pinAllNodes(true)"
                  >
                    <i class="fas fa-thumbtack"></i>
                  </v-btn>
                </template>
                <span>Pin all</span>
              </v-tooltip>

              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="pinAllNodes(false)"
                  >
                    <i class="fas fa-thumbtack"></i>
                  </v-btn>
                </template>
                <span>Unpin all</span>
              </v-tooltip>

              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="screenshot"
                  >
                    <i class="fas fa-camera"></i>
                  </v-btn>
                </template>
                <span>Screenshot</span>
              </v-tooltip>
            </v-subheader>
            <v-card
              class="my-card"
              title="Network"
              elevation="0"
              margin-bottom="-17px"
              :loading="networkLoading"
              height="100%"
              width="100%"
              margin="10px"
              ref="networkView"
            >
              <v-card-title class="my-title" style="padding-top: 0px">
              </v-card-title>
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <d3-network
                ref="net"
                :net-nodes="filteredNodes"
                :net-links="filteredLinks"
                :selection="{nodes: selected, links: linksSelected}"
                :options="options"
                :node-sym="nodeSym"
                @node-click="nodeClick"
                @link-click="linkClick"
                @screen-shot="screenShotDone"
              />
              <!-- <svg >
                <defs>
                  <marker id="m-end" markerWidth="10" markerHeight="10" refX="9" refY="3" orient="auto" markerUnits="strokeWidth" >
                    <path d="M0,0 L0,6 L9,3 z"></path>
                  </marker>
                      <marker id="m-start" markerWidth="6" markerHeight="6" refX="-4" refY="3" orient="auto" markerUnits="strokeWidth" >
                    <rect width="3" height="6"></rect>
                  </marker>
                </defs>
              </svg> -->
            </v-card>
          </div>
        </v-tab-item>
        <v-tab-item>
          <div class="tab-item-wrapper">
            <v-subheader>
              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="getSummary"
                    :disabled="!status.dumpExist"
                  >
                    <i class="fas fa-chart-line"></i>
                  </v-btn>
                </template>
                <span>Show Data</span>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="summarySearch"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-subheader>
            <v-card class="remaining-height" title="Summary" elevation="0">
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-data-table
                :headers="summaryHeaders"
                :items="summaryItems"
                :items-per-page="15"
                :search="summarySearch"
              ></v-data-table>
            </v-card>
          </div>
        </v-tab-item>
        <v-tab-item>
          <div class="tab-item-wrapper">
            <v-subheader>
              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="getWords"
                    :disabled="!status.dumpExist"
                  >
                    <i class="fas fa-chart-line"></i>
                  </v-btn>
                </template>
                <span>Show Data</span>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="wordSearch"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-subheader>
            <v-card class="remaining-height" title="Words" elevation="0">
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-data-table
                :headers="wordHeaders"
                :items="wordItems"
                :items-per-page="15"
                :search="wordSearch"
              ></v-data-table>
            </v-card>
          </div>
        </v-tab-item>
        <v-tab-item>
          <div class="tab-item-wrapper">
            <v-subheader>
              <v-tooltip bottom
                ><template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="my-btn"
                    v-bind="attrs"
                    v-on="on"
                    @click="getJournals"
                    :disabled="!status.dumpExist"
                  >
                    <i class="fas fa-chart-line"></i>
                  </v-btn>
                </template>
                <span>Show Data</span>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="journalSearch"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-subheader>
            <v-card class="remaining-height" title="Journals" elevation="0">
              <template slot="progress">
                <v-progress-linear
                  color="deep-purple"
                  height="10"
                  indeterminate
                ></v-progress-linear>
              </template>
              <v-data-table
                :headers="journalHeaders"
                :items="journalItems"
                :items-per-page="15"
                :search="journalSearch"
              ></v-data-table>
            </v-card>
          </div>
        </v-tab-item>
      </v-tabs>
    </pane>
  </splitpanes>
  <v-snackbar style="white-space: pre-wrap" v-model="snackbar">
    <!-- <pre>{{message}}</pre> -->
    {{message}}

    <template v-slot:action="{ attrs }">
      <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</v-container>
